<MudCarousel Style="height:200px; border-radius: 20px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Info">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Success">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>