@if (FormTiles is not null && _forms is not null)
{
    @if (FormTiles.Count > 0)
    {
        @foreach (var f in FormTiles)
        {
            var tile = f;
            var localHref = $"/{_href}/{f.ForId}";
            var localStartDate = tile.DataOtwarcia.ToString("dd/MM/yyyy HH:mm");
            var localEndDate = f.DataZamkniecia.HasValue ? f.DataZamkniecia.Value.Date.ToString("dd/MM/yyyy HH:mm") : "Nie określono";
            var localCreateDate = tile.DataStworzenia.ToShortDateString();
            var localForm = _forms.FirstOrDefault(x => x.for_id == tile.ForId);
            var localMaxPoints = _formsPointsSum.FirstOrDefault(x => x.Key == localForm);
            var localMaxTime = TimeSpan.FromSeconds((double)localForm.for_limit_czasu);

            <MudPaper Elevation="10" Width="300px" Class="d-flex flex-column justify-space-between">
                <div style="height: @(_isStudent ? "200px" : "150px"); margin: 1%">
                    <div class="d-flex flex-column justify-space-between overflow-scroll cursor-pointer" style="height:100%;" onclick=@(() => OpenAskToStartDialog(localHref))>
                        <div>
                            <span style="color: black; font-weight: bold; font-size: 22px;">@f.Nazwa</span>
                        </div>
                        <div class="d-flex flex-column" style="font-size: 17px;">
                            @if (_isStudent)
                            {
                                <span style="color: black;">Data startu: @localStartDate</span>
                                <span style="color: black;">Data końca: @localEndDate</span>
                                <span style="color: black;">Punkty do zdobycia: @localMaxPoints.Value</span>
                                <span style="color: black;">Czas na rozwiązanie: @(FormatRequiredTime(localMaxTime.Hours)):@(FormatRequiredTime(localMaxTime.Minutes)):@(FormatRequiredTime(localMaxTime.Seconds))</span>
                            }
                            else
                            {
                                <span style="color: black;">Data stworzenia: @localCreateDate</span>
                                <span style="color: black;">Data otwarcia: @localStartDate</span>
                                <span style="color: black;">Data zamkniecia: @localEndDate</span>
                            }
                        </div>
                    </div>

                </div>

                @if (!_isStudent)
                {
                    <div class="d-flex flex-row justify-space-between">
                        <MudButton OnClick="(() => OpenAssignFormDialog(f.ForId))" Variant="Variant.Outlined" Color="Color.Primary" Style="font-weight:bold; width: 140px; margin: 1%">Przypisz</MudButton>
                        <MudButton OnClick="(() => OpenFormDatesDialog(f.ForId))" Variant="Variant.Outlined" Color="Color.Info" Style="font-weight:bold; width: 140px; margin: 1%">Otwórz/Zamknij</MudButton>
                    </div>
                }
            </MudPaper>
        }
    }
}